.icon {
    color: #2196f3;
}

.logo {
    color: #000000;
    font-family: Raleway;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto;
    background-color: #f5f5f5;
}

.link {
    text-decoration: none;
    color: #757575;
    opacity: 0.5;
}

.link:hover,
.link:focus {
    opacity: 1;
    color: #2196F3;
}

.hero {
    background-color: #2f303a;
}

.hero-1{
    font-weight: 900;
    color: #FFFFFF;
}

.button-hero{
    background-color: #2196F3;
    color: #FFFFFF;
    border: 0;
}

.button{
    cursor: pointer;
}

.button-filter{
    background-color: #F5F4FA;
    color: black;
    opacity: 1;
    border: 0;
}

.button-filter:hover,
.button-filter:focus{
    opacity: 1,5;
    background-color: #2196F3;
    color: #FFFFFF;
}

.description{
    color: #757575;
}

.team{
    background-color: #F5F4FA;
}

.name{
    font-weight: 500;
}

.job{
    color:  #757575;
}

.bottom{
    background-color: #2F303A;
}

.building{
    color: #FFFFFF;
}
